*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
}

body {
  background-color: hsl(228deg, 33%, 97%);
  font-size: 1.6rem;
  line-height: 1.4;
  color: hsl(211deg, 10%, 45%);
  display: flex;
  justify-content: center;
}

.section {
  margin: 3rem 1.5rem;
  max-width: 70rem;
}

.item {
  margin-bottom: 2rem;
}

.comment,
.answer {
  background-color: hsl(0deg, 0%, 100%);
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
@media (max-width: 38em) {
  .comment,
.answer {
    flex-direction: column;
    padding: 1.5rem;
  }
}
.comment .btn-container,
.answer .btn-container {
  display: flex;
  gap: 2.5rem;
  align-self: flex-start;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
}
@media (max-width: 38em) {
  .comment .btn-container,
.answer .btn-container {
    bottom: 2.2rem;
    top: auto;
  }
}
.comment .btn-container .btn-icon-box,
.answer .btn-container .btn-icon-box {
  display: flex;
  cursor: pointer;
  gap: 0.5rem;
}

.replies {
  display: flex;
}
.replies__border {
  border-left: 2px solid hsl(223deg, 19%, 93%);
  height: auto;
  display: inline-block;
  margin: 0 4rem;
}
@media (max-width: 38em) {
  .replies__border {
    margin: 0 1.5rem;
  }
}

.comment__vote {
  display: flex;
  flex-direction: column;
  background-color: hsl(223deg, 19%, 93%);
  align-self: flex-start;
  border-radius: 8px;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(238deg, 40%, 52%);
  margin-right: 2rem;
}
@media (max-width: 38em) {
  .comment__vote {
    flex-direction: row;
    order: 2;
    margin-top: 2rem;
  }
}
.comment__vote--button {
  color: hsl(239deg, 57%, 85%);
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.comment__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment__content--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.comment__content--top .info-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment__content--top .info-container .photo {
  height: 3rem;
}
.comment__content--top .info-container .photo img {
  height: 100%;
}
.comment__content--top .info-container .user {
  color: hsl(212deg, 24%, 26%);
  font-weight: 700;
}
.comment__content--top .info-container .you {
  background-color: hsl(238deg, 40%, 52%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.2rem;
  padding: 1px 7px;
  margin-right: 0.5rem;
}
.comment__content--bottom {
  word-break: break-all;
}
.comment__content--bottom .reference {
  font-weight: 700;
  color: hsl(238deg, 40%, 52%);
  cursor: pointer;
}

.answer {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
.answer__img {
  height: 4rem;
}
@media (max-width: 38em) {
  .answer__img {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
}
.answer__img img {
  height: 100%;
}
.answer__form {
  display: flex;
  flex: 1;
  align-items: flex-start;
}
@media (max-width: 38em) {
  .answer__form {
    flex-direction: column;
    width: 100%;
  }
}
.answer__form .input {
  display: inline-block;
  font-size: inherit;
  font-style: inherit;
  width: 100%;
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  border: 1px solid hsl(223deg, 19%, 93%);
  resize: none;
  border-radius: 10px;
  min-height: 8rem;
  resize: none;
  overflow: hidden;
}

.vertical {
  flex-direction: column;
}
.vertical .btn {
  align-self: flex-end;
  margin-top: 1.5rem;
}

.replies__container {
  width: 100%;
}

.btn {
  display: inline-block;
  border: none;
  font-weight: 700;
}
.btn:link, .btn:active {
  text-decoration: none;
}
.btn--small {
  font-size: 1.5rem;
}
.btn--blue {
  color: hsl(238deg, 40%, 52%);
}
.btn--red {
  color: hsl(358deg, 79%, 66%);
}
.btn--big {
  padding: 1.2rem 2.4rem;
  background-color: hsl(238deg, 40%, 52%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn--big:hover {
  background-color: hsl(239deg, 57%, 85%);
}
@media (max-width: 38em) {
  .btn--big {
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}
.btn--form {
  padding: 1.5rem 3.4rem;
  border-radius: 8px;
  font-size: 1.4rem;
}
@media (max-width: 38em) {
  .btn--form {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
  }
}
.btn--form-grey {
  background-color: hsl(212deg, 24%, 26%);
}
.btn--form-grey:hover {
  background-color: hsl(211deg, 10%, 45%);
}
.btn--form-red {
  background-color: hsl(358deg, 79%, 66%);
}
.btn--form-red:hover {
  background-color: hsl(357deg, 100%, 86%);
}

.icon {
  height: 100%;
  width: 1.5rem;
}
.icon--delete {
  -webkit-mask: url(../images/icon-delete.svg) no-repeat center;
          mask: url(../images/icon-delete.svg) no-repeat center;
}
.icon--reply {
  -webkit-mask: url(/images/icon-reply.svg) no-repeat center;
          mask: url(/images/icon-reply.svg) no-repeat center;
}
.icon--edit {
  -webkit-mask: url(/images/icon-edit.svg) no-repeat center;
          mask: url(/images/icon-edit.svg) no-repeat center;
}
.icon--blue {
  background-color: hsl(238deg, 40%, 52%);
}
.icon--red {
  background-color: hsl(358deg, 79%, 66%);
}

.btn-icon-box:hover .btn--blue {
  color: hsl(239deg, 57%, 85%);
}

.btn-icon-box:hover .icon--blue {
  background-color: hsl(239deg, 57%, 85%);
}

.btn-icon-box:hover .btn--red {
  color: hsl(357deg, 100%, 86%);
}

.btn-icon-box:hover .icon--red {
  background-color: hsl(357deg, 100%, 86%);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.425);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
}

.modal {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  background-color: hsl(0deg, 0%, 100%);
  padding: 3.5rem;
  border-radius: 1rem;
  position: fixed;
}
@media (max-width: 38em) {
  .modal {
    padding: 2.5rem;
    width: 34rem;
  }
}
.modal__header {
  font-size: 2.4rem;
  font-weight: 700;
  color: hsl(212deg, 24%, 26%);
  margin-bottom: 2rem;
}
.modal__text {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.modal .modal__btn-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.display-none {
  display: none;
}/*# sourceMappingURL=main.css.map */