////// COLOR VARIABLES

//Primary
$color-moderate-blue: hsl(238, 40%, 52%);
$color-soft-red: hsl(358, 79%, 66%);
$color-light-grayish-blue: hsl(239, 57%, 85%);
$color-pale-red: hsl(357, 100%, 86%);

// Neutral
$color-dark-blue: hsl(212, 24%, 26%);
$color-grayish-blue: hsl(211, 10%, 45%);
$color-light-gray: hsl(223, 19%, 93%);
$color-very-light-gray: hsl(228, 33%, 97%);
$color-white: hsl(0, 0%, 100%);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: Rubik, sans-serif;
}

body {
	background-color: $color-very-light-gray;
	font-size: 1.6rem;
	line-height: 1.4;
	color: $color-grayish-blue;
	display: flex;
	justify-content: center;
}

.section {
	margin: 6rem 1.5rem;
	max-width: 70rem;
}
