.item {
	margin-bottom: 2rem;
}
.comment,
.reply,
.answer {
	background-color: $color-white;
	padding: 2rem;
	border-radius: 5px;
	display: flex;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}
.replies {
	display: flex;
	&__border {
		border-left: 2px solid $color-light-gray;
		height: auto;
		display: inline-block;
		margin: 0 4rem;
	}
}
.comment__vote {
	display: flex;
	flex-direction: column;
	background-color: $color-light-gray;
	align-self: flex-start;
	border-radius: 8px;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 700;
	color: $color-moderate-blue;
	margin-right: 2rem;
	&--button {
		color: $color-light-grayish-blue;
		padding: 0.5rem 1.2rem;
		cursor: pointer;
	}
}
.comment__content {
	display: flex;
	flex-direction: column;
	width: 100%;

	&--top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;

		.info-container {
			display: flex;
			gap: 1rem;
			align-items: center;

			.photo {
				height: 3rem;

				img {
					height: 100%;
				}
			}

			.user {
				color: $color-dark-blue;
				font-weight: 700;
			}
			.you {
				background-color: $color-moderate-blue;
				color: $color-white;
				font-size: 1.2rem;
				padding: 1px 7px;
				margin-right: 0.5rem;
			}
		}

		.btn-container {
			display: flex;
			gap: 2.5rem;
			.btn-icon-box {
				cursor: pointer;
				display: flex;
				gap: 0.5rem;
				align-items: center;
			}
		}
	}
	&--bottom {
		.reference {
			font-weight: 700;
			color: $color-moderate-blue;
			cursor: pointer;
		}
	}
}

.answer {
	display: flex;
	align-items: flex-start;
	gap: 1.5rem;

	&__img {
		height: 4rem;
		img {
			height: 100%;
		}
	}
	&__form {
		display: flex;

		flex: 1;
		align-items: flex-start;

		.input {
			display: inline-block;
			font-size: inherit;
			font-style: inherit;
			width: 100%;
			padding: 1rem 2rem;
			margin-right: 1.5rem;
			border: 1px solid $color-light-gray;
			resize: none;
			border-radius: 10px;
			min-height: 8rem;
		}
	}
}
.vertical {
	flex-direction: column;
	.btn {
		align-self: flex-end;
		margin-top: 1.5rem;
	}
}
