.btn {
	display: inline-block;
	border: none;
	font-weight: 700;

	&:link,
	&:active {
		text-decoration: none;
	}

	&--small {
		font-size: 1.5rem;
	}
	&--blue {
		color: $color-moderate-blue;
	}

	&--red {
		color: $color-soft-red;
	}
	&--big {
		padding: 1.2rem 2.4rem;
		background-color: $color-moderate-blue;
		color: $color-white;
		font-weight: 700;
		border-radius: 5px;
		cursor: pointer;
		text-transform: uppercase;

		&:hover {
			background-color: $color-light-grayish-blue;
		}

		@media (max-width: 40em) {
			align-self: flex-end;
			margin-top: 1.5rem;
		}
	}
	&--form {
		padding: 1.5rem 3.4rem;
		border-radius: 8px;
		font-size: 1.4rem;
		@media (max-width: 40em) {
			padding: 1.5rem 2rem;
			font-size: 1.5rem;
		}

		&-grey {
			background-color: $color-dark-blue;
			&:hover {
				background-color: $color-grayish-blue;
			}
		}
		&-red {
			background-color: $color-soft-red;
			&:hover {
				background-color: $color-pale-red;
			}
		}
	}
}

.icon {
	height: 100%;
	width: 1.5rem;

	&--delete {
		mask: url(../images/icon-delete.svg) no-repeat center;
	}

	&--reply {
		mask: url(../images/icon-reply.svg) no-repeat center;
	}

	&--edit {
		mask: url(../images/icon-edit.svg) no-repeat center;
	}

	&--blue {
		background-color: $color-moderate-blue;
	}
	&--red {
		background-color: $color-soft-red;
	}
}

.btn-icon-box:hover .btn--blue {
	color: $color-light-grayish-blue;
}
.btn-icon-box:hover .icon--blue {
	background-color: $color-light-grayish-blue;
}
.btn-icon-box:hover .btn--red {
	color: $color-pale-red;
}
.btn-icon-box:hover .icon--red {
	background-color: $color-pale-red;
}
